.cv {
	background-color: rgb(219, 219, 219);
  text-align: center;
  margin: 10px auto 0 auto;
}
header {
  margin-left: 50px;
  margin-right: 35px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 2px solid DarkSlateGray; 
}
header h1,
header h2 {
  margin: 15px 0 0 0;
}
header h4 {
  margin: 5px 0;
}
header ul {
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 10px;
}
header li {
  list-style-type: none;
}
.avatar {
  margin-right: 50px;
  max-height: 220px;
  float: right;
}

.section {
  background-color: rgb(219, 219, 219);
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 0 2px DarkSlateGray;
}
body {
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 15px 5px 0 3px DarkSlateGray;
}
.personalcontent {
  max-width: 600px;
  text-align: justify;
}
h3 {
   background-color: silver;
   margin: 15px 0;
}
h3:first-child {
  margin-top: 0;
}
.projects {
  text-decoration: none;
  color: #000;
}
pre {
  margin: 0 auto;
}
footer {
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
footer li {
  margin: 0;
  list-style-type: none;
  padding: 0 0 5px 0;
}
mark {
  background:silver;
  padding: 2px;
}
.references__list li a{
  text-decoration: none;
  color: black;
}
.logo {
  width: 100px;
}
