.cv {
	background-color: rgb(219, 219, 219);
  text-align: center;
  margin: 0 auto;
}
.section {
  background-color: rgb(219, 219, 219);
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 2px 2px 0 2px DarkSlateGray;
}
img {
  padding-right: 50px;
  padding-top: 19px;
  max-height: 285px;
  float: right;
}
body {
  background-color: white;
  max-width: 1024px;
  margin: auto;
  box-shadow: 15px 5px 0 3px DarkSlateGray;
}
.personalcontent {
  max-width: 600px;
  text-align: justify;
}
h1 {
  margin: 0;
  margin-left: 50px;
  padding-top: 50px;
  text-align: left;
  border-bottom: 2px solid DarkSlateGray; 
}
h3 {
   background-color: silver;
}
.projects {
  text-decoration: none;
  color: #000;
}
footer {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 10px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  margin: 0;
  list-style-type: none;
  padding: 0 0 5px 0;
}
footer h4 {
  margin: 0;
  padding: 20px 0 10px 0;
}
mark {
  background:silver;
  padding: 2px;
}
